body {
  height: 100%;
  width: 100%;
  text-align:center;
}

body {
  background-color: #3a8b54;
}

h1 {
  
  font-family: "Luckiest Guy", cursive;
  color: #000000;
  font-size: 30px;
  padding-top: 45px;
 
 
}

img {
  
  height: 300px;
  display: flex;
  justify-content: center;

   border: 2px solid rgb(0, 0, 0);
  border-radius: 10px; 
 
 
  
  
  
}

p { border: 2px solid black;
  border-radius: 10px; 
color: white;
font-family: "Luckiest Guy" , cursive;

  
}
    
h2 {
  font-size: 30x;
 
}

.container {
  max-width: 320px;
  margin: 0 auto;
  width: 100%

}

  
  h2 {
  border: 10px solid rgb(255, 255, 255); 
}

 

